@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --cor-de-fundo: #000000;
    --cor-primaria: #237e17;
    --cor-secundaria: #21d311;
    --fonte: "Quantico", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--fonte);
    background-color: var(--cor-de-fundo);
    color: var(--cor-de-fundo);
    height: 100vh;
    margin: 0;
}

header{
    background-color: var(--cor-secundaria);
    color: white;
    text-align: center;
}

footer{
    background-color: var(--cor-primaria);
    color: white;
}

h1{
    font-weight: 700;
}

nav{
    display: flex;
    justify-content: center;
    font-weight: 400;
}

nav a{
    text-decoration:none;
    background-color: var(--cor-secundaria); 
    color: var(--cor-de-fundo);
    margin: 0 0.5rem 1rem 0;
    font-size: 1.2rem;
}

nav a:hover{
    text-decoration:none; 
    background-color: var(--cor-primaria);
    transform: scale(0.8);
    transition: transform 0.5s;
    color: var(--cor-de-fundo);
    font-size: 1.2rem;
}
.graficos-container{
    color: wheat;
}
